<div class="fields">
  
  
<fieldset id="people">
      <legend></legend> 
      <ol>
        <li>
          <label for="first_name"><%= f.label :name, "Attribute:" %></label><br/>  
            <%= f.text_field :name, :style =>"width:80%"  %>
            <p class="remove">
            <%= link_to_remove_fields "Remove entry", f %>
            </p>
        </li>
      </ol> 
</fieldset>
  
    
     
    
  
